In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
bankingdata=pd.read_csv("E:\\credit\\banking1.csv")
bankingdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp_var_rate      41188 non-null float64
cons_price_idx    41188 non-null float64
cons_conf_idx     41188 non-null float64
euribor3m         41188 non-null float64
nr_employed       41188 non-null float64
y                 41188 non-null int64
dtypes: float64(5), int64(6), object(10)
memory usage: 6.6+ MB

In [3]:
target_count=bankingdata['y'].value_counts()
target_count

0    36548
1     4640
Name: y, dtype: int64

In [4]:
# Separate majority and minority classes
bankingdata_majority = bankingdata[bankingdata.y==0]
bankingdata_minority = bankingdata[bankingdata.y==1]

In [5]:
from sklearn.utils import resample
# Downsample majority class
bankingdata_majority_downsampled = resample(bankingdata_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples=4640,     # to match minority class
                                 random_state=123) # reproducible results

In [6]:
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([bankingdata_majority_downsampled, bankingdata_minority])

In [7]:
# Display new class counts
df_downsampled.y.value_counts()

1    4640
0    4640
Name: y, dtype: int64

In [8]:
df_downsampled.info

<bound method DataFrame.info of        age            job   marital            education  default  housing  \
37828   39     unemployed   married          high.school       no      yes
15711   57     management  divorced    university.degree  unknown       no
21459   47         admin.   married          high.school  unknown       no
3234    45         admin.    single    university.degree       no       no
21915   48    blue-collar   married             basic.6y       no       no
18013   34     unemployed   married             basic.9y  unknown      yes
1905    29     management    single    university.degree       no       no
14794   49         admin.   married          high.school       no       no
12700   37         admin.   married    university.degree       no      yes
21199   51         admin.   married             basic.9y  unknown      yes
8890    29       services   married          high.school       no      yes
40511   59    blue-collar   married             basic.4y  unknown       no
29859   28     technician    single    university.degree       no       no
26126   33     technician    single  professional.course       no       no
40223   52         admin.  divorced    university.degree  unknown      yes
30742   35    blue-collar   married             basic.6y       no       no
12943   38    blue-collar    single          high.school       no       no
37934   30    blue-collar   married             basic.4y       no      yes
39138   50         admin.  divorced    university.degree       no       no
6835    52         admin.   married          high.school       no       no
9122    35         admin.   married          high.school       no      yes
6752    59        retired   married  professional.course       no       no
10113   36      housemaid    single          high.school       no      yes
18656   57     technician   married          high.school       no       no
18345   40         admin.   married          high.school       no       no
24032   46     technician   married          high.school       no       no
3932    35         admin.   married    university.degree       no  unknown
9951    40         admin.    single          high.school  unknown       no
12578   29     management    single    university.degree       no      yes
6420    44       services   married             basic.9y  unknown       no
...    ...            ...       ...                  ...      ...      ...
40857   34         admin.   married    university.degree       no      yes
40895   32       services    single    university.degree       no       no
40898   45    blue-collar   married             basic.4y       no       no
40901   88        retired  divorced             basic.4y       no      yes
40906   75        retired  divorced             basic.4y       no       no
40907   66        retired   married             basic.4y       no      yes
40923   34         admin.    single    university.degree       no      yes
40928   58        retired   married          high.school       no       no
40930   21        student    single          high.school       no       no
40935   29  self-employed   married    university.degree       no      yes
40963   52         admin.   married  professional.course       no       no
40965   36       services  divorced          high.school       no       no
40972   58        retired   married             basic.4y       no       no
40985   31         admin.   married          high.school       no       no
40987   56         admin.   married             basic.9y       no      yes
40993   57        retired   married             basic.9y       no      yes
41001   82      housemaid   married             basic.4y       no       no
41049   39         admin.    single          high.school       no      yes
41050   42        retired  divorced           illiterate       no       no
41051   59         admin.   married              unknown       no       no
41061   19        student    single             basic.9y       no      yes
41078   20        student    single             basic.4y       no      yes
41086   40  self-employed   married    university.degree  unknown      yes
41100   26    blue-collar    single             basic.9y       no       no
41111   30     technician   married    university.degree       no      yes
41125   40         admin.   married    university.degree       no       no
41129   55    blue-collar   married             basic.4y  unknown      yes
41130   28  self-employed   married             basic.9y       no      yes
41172   27    blue-collar    single             basic.9y  unknown      yes
41178   35     technician   married          high.school       no       no

          loan    contact month day_of_week ...  campaign  pdays  previous  \
37828       no  telephone   may         fri ...         1    999         0
15711      yes   cellular   jul         mon ...         1    999         0
21459       no   cellular   aug         fri ...         3    999         0
3234        no   cellular   nov         fri ...         3    999         0
21915       no  telephone   may         fri ...         1    999         0
18013       no   cellular   apr         fri ...         1    999         1
1905        no   cellular   nov         tue ...         1    999         0
14794       no   cellular   aug         tue ...        13    999         0
12700       no  telephone   jun         mon ...         1    999         0
21199       no  telephone   jun         fri ...         7    999         0
8890        no   cellular   aug         wed ...         2      4         1
40511       no   cellular   aug         wed ...         2    999         0
29859       no   cellular   may         thu ...         2    999         0
26126       no   cellular   aug         thu ...         1    999         0
40223       no   cellular   jul         tue ...         2    999         0
30742       no   cellular   apr         fri ...         3    999         1
12943       no   cellular   aug         tue ...         2    999         0
37934       no   cellular   nov         wed ...         5    999         0
39138       no   cellular   aug         tue ...         4    999         0
6835        no   cellular   aug         wed ...         6    999         0
9122        no  telephone   may         mon ...         4    999         0
6752        no   cellular   aug         thu ...         1    999         0
10113       no   cellular   jul         tue ...         5    999         0
18656       no   cellular   apr         wed ...         1    999         0
18345       no  telephone   may         fri ...         1    999         0
24032       no   cellular   may         mon ...         5      3         1
3932   unknown  telephone   may         tue ...         3    999         0
9951        no  telephone   jun         mon ...         2    999         0
12578       no   cellular   may         tue ...         1    999         0
6420        no  telephone   jun         wed ...         8    999         0
...        ...        ...   ...         ... ...       ...    ...       ...
40857       no   cellular   jul         thu ...         1    999         2
40895      yes   cellular   may         fri ...         3    999         0
40898       no   cellular   aug         fri ...         2    999         0
40901       no   cellular   mar         wed ...         1    999         0
40906       no   cellular   apr         mon ...         4    999         0
40907       no   cellular   nov         mon ...         1      7         1
40923       no   cellular   jul         tue ...         3    999         0
40928       no   cellular   aug         tue ...         2    999         0
40930       no   cellular   oct         tue ...         1    999         0
40935       no   cellular   mar         wed ...         4    999         0
40963       no   cellular   sep         wed ...         2    999         0
40965       no   cellular   jul         wed ...         2    999         0
40972       no   cellular   apr         wed ...         1    999         0
40985       no   cellular   jul         thu ...         1    999         0
40987       no   cellular   apr         thu ...         2    999         0
40993      yes   cellular   aug         tue ...         4    999         0
41001       no  telephone   sep         tue ...         3      3         2
41049       no   cellular   mar         tue ...         3    999         0
41050       no  telephone   aug         wed ...         3    999         0
41051      yes   cellular   sep         mon ...         4    999         1
41061       no   cellular   may         fri ...         1    999         0
41078      yes   cellular   apr         tue ...         4      6         1
41086      yes   cellular   nov         thu ...         3    999         0
41100       no  telephone   may         fri ...         1    999         0
41111       no   cellular   dec         thu ...         2      6         1
41125       no   cellular   may         mon ...         4    999         0
41129       no  telephone   jun         fri ...         2    999         0
41130       no   cellular   may         fri ...         5    999         0
41172       no   cellular   jul         wed ...         4    999         0
41178       no  telephone   aug         fri ...         1    999         0

          poutcome emp_var_rate  cons_price_idx  cons_conf_idx  euribor3m  \
37828  nonexistent          1.1          93.994          -36.4      4.855
15711  nonexistent          1.4          93.918          -42.7      4.960
21459  nonexistent          1.4          93.444          -36.1      4.966
3234   nonexistent         -0.1          93.200          -42.0      4.021
21915  nonexistent          1.1          93.994          -36.4      4.864
18013      failure         -1.8          93.075          -47.1      1.405
1905   nonexistent         -0.1          93.200          -42.0      4.153
14794  nonexistent          1.4          93.444          -36.1      4.963
12700  nonexistent         -1.7          94.055          -39.8      0.720
21199  nonexistent          1.4          94.465          -41.8      4.967
8890       success         -2.9          92.201          -31.4      0.879
40511  nonexistent          1.4          93.444          -36.1      4.965
29859  nonexistent         -1.8          92.893          -46.2      1.270
26126  nonexistent          1.4          93.444          -36.1      4.964
40223  nonexistent          1.4          93.918          -42.7      4.962
30742      failure         -1.8          93.075          -47.1      1.405
12943  nonexistent          1.4          93.444          -36.1      4.968
37934  nonexistent         -0.1          93.200          -42.0      4.120
39138  nonexistent          1.4          93.444          -36.1      4.963
6835   nonexistent          1.4          93.444          -36.1      4.964
9122   nonexistent          1.1          93.994          -36.4      4.857
6752   nonexistent          1.4          93.444          -36.1      4.968
10113  nonexistent          1.4          93.918          -42.7      4.961
18656  nonexistent         -1.8          93.075          -47.1      1.415
18345  nonexistent          1.1          93.994          -36.4      4.864
24032      success         -1.8          92.893          -46.2      1.354
3932   nonexistent          1.1          93.994          -36.4      4.857
9951   nonexistent          1.4          94.465          -41.8      4.960
12578  nonexistent         -1.8          92.893          -46.2      1.266
6420   nonexistent          1.4          94.465          -41.8      4.959
...            ...          ...             ...            ...        ...
40857      failure         -1.7          94.215          -40.3      0.810
40895  nonexistent         -1.8          93.876          -40.0      0.699
40898  nonexistent          1.4          93.444          -36.1      4.966
40901  nonexistent         -1.8          92.843          -50.0      1.663
40906  nonexistent         -1.8          93.075          -47.1      1.405
40907      success         -3.4          92.649          -30.1      0.714
40923  nonexistent          1.4          93.918          -42.7      4.962
40928  nonexistent         -2.9          92.201          -31.4      0.838
40930  nonexistent         -1.1          94.601          -49.5      0.982
40935  nonexistent         -1.8          92.843          -50.0      1.663
40963  nonexistent         -1.1          94.199          -37.5      0.876
40965  nonexistent          1.4          93.918          -42.7      4.963
40972  nonexistent         -1.8          93.749          -34.6      0.639
40985  nonexistent          1.4          93.918          -42.7      4.963
40987  nonexistent         -1.8          93.075          -47.1      1.410
40993  nonexistent          1.4          93.444          -36.1      4.965
41001      success         -1.1          94.199          -37.5      0.877
41049  nonexistent         -1.8          92.843          -50.0      1.687
41050  nonexistent         -2.9          92.201          -31.4      0.834
41051      failure         -3.4          92.379          -29.8      0.797
41061  nonexistent         -1.8          92.893          -46.2      1.259
41078      success         -1.8          93.749          -34.6      0.644
41086  nonexistent         -0.1          93.200          -42.0      4.076
41100  nonexistent          1.1          93.994          -36.4      4.859
41111      success         -3.0          92.713          -33.0      0.720
41125  nonexistent         -1.8          92.893          -46.2      1.354
41129  nonexistent          1.4          94.465          -41.8      4.959
41130  nonexistent         -1.8          92.893          -46.2      1.250
41172  nonexistent          1.4          93.918          -42.7      4.963
41178  nonexistent          1.4          93.444          -36.1      4.966

       nr_employed  y
37828       5191.0  0
15711       5228.1  0
21459       5228.1  0
3234        5195.8  0
21915       5191.0  0
18013       5099.1  0
1905        5195.8  0
14794       5228.1  0
12700       4991.6  0
21199       5228.1  0
8890        5076.2  0
40511       5228.1  0
29859       5099.1  0
26126       5228.1  0
40223       5228.1  0
30742       5099.1  0
12943       5228.1  0
37934       5195.8  0
39138       5228.1  0
6835        5228.1  0
9122        5191.0  0
6752        5228.1  0
10113       5228.1  0
18656       5099.1  0
18345       5191.0  0
24032       5099.1  0
3932        5191.0  0
9951        5228.1  0
12578       5099.1  0
6420        5228.1  0
...            ... ..
40857       4991.6  1
40895       5008.7  1
40898       5228.1  1
40901       5099.1  1
40906       5099.1  1
40907       5017.5  1
40923       5228.1  1
40928       5076.2  1
40930       4963.6  1
40935       5099.1  1
40963       4963.6  1
40965       5228.1  1
40972       5008.7  1
40985       5228.1  1
40987       5099.1  1
40993       5228.1  1
41001       4963.6  1
41049       5099.1  1
41050       5076.2  1
41051       5017.5  1
41061       5099.1  1
41078       5008.7  1
41086       5195.8  1
41100       5191.0  1
41111       5023.5  1
41125       5099.1  1
41129       5228.1  1
41130       5099.1  1
41172       5228.1  1
41178       5228.1  1

[9280 rows x 21 columns]>

In [9]:
df_downsampled.ndim

2

In [10]:
df_downsampled.shape

(9280, 21)

In [11]:
df_downsampled.to_csv("E:\\credit\\modified_banking.csv")